<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [26]:
import pandas as pd
import psycopg2

In [27]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [28]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [29]:
# текст запроса
query_3_1 = f'''
select COUNT(*)
from public.vacancies
'''
ds = pd.read_sql_query(query_3_1, connection)
print(ds)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\4140836329.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_3_1, connection)

   count
0  49197

In [30]:
'''
   count
0  49197
'''

'\n   count\n0  49197\n'

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [31]:
query_3_2 = f'''
select  COUNT(distinct id)
from public.employers
'''
ds = pd.read_sql_query(query_3_2, connection)
print(ds)

   count
0  23501

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\646218354.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_3_2, connection)

In [32]:
'''
   count
0  23501
'''

'\n   count\n0  23501\n'

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [33]:
query_3_3 = f'''
select  COUNT(distinct name)
from public.areas
'''
ds = pd.read_sql_query(query_3_3, connection)
print(ds)

   count
0   1362

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\1137707220.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_3_3, connection)

In [34]:
'''
   count
0   1362
'''

'\n   count\n0   1362\n'

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [35]:
query_3_4 = f'''
select  COUNT(distinct name)
from public.industries
'''
ds = pd.read_sql_query(query_3_4, connection)
print(ds)

   count
0    294

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\1391641937.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_3_4, connection)

In [36]:
'''
   count
0    294
'''

'\n   count\n0    294\n'

***

Предстоит работать с достаточно большим объемом данных состоящим из почти 50 тысяч вакансий.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [37]:
query_4_1 = f'''
select 
    count(v.id) cnt,
    a.name area
from 
    public.vacancies v
    join public.areas a on a.id = v.area_id
group by 
    a.name
order by 
    cnt desc
'''
ds = pd.read_sql_query(query_4_1, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\3845361653.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_4_1, connection)

In [38]:
display(ds) #769 rows × 2 columns

      cnt             area
0    5333           Москва
1    2851  Санкт-Петербург
2    2112            Минск
3    2006      Новосибирск
4    1892           Алматы
..    ...              ...
764     1       Тарко-Сале
765     1    Новоаннинский
766     1            Бирск
767     1           Сасово
768     1             Анна

[769 rows x 2 columns]

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [39]:
query_4_2 = f'''
select 
    count(v.id) cnt
from 
    public.vacancies v
where 
    (v.salary_from is not null) or (v.salary_to is not null)
'''
ds = pd.read_sql_query(query_4_2, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\158736064.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_4_2, connection)

In [40]:
display(ds)

     cnt
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [41]:
query_4_3 = f'''
select 
    avg(v.salary_from) low,
    avg(v.salary_to ) high
from 
    public.vacancies v
'''
ds = pd.read_sql_query(query_4_3, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\3302190997.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_4_3, connection)

In [42]:
display(ds)

            low           high
0  71064.657901  110536.741923

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [43]:
query_4_4 = f'''
select 
    count(id) cnt,
    v.schedule,
    v.employment
from
    public.vacancies v
group by 
    v.schedule,
    v.employment
order by 
    cnt desc
'''
ds = pd.read_sql_query(query_4_4, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\1352356465.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_4_4, connection)

In [44]:
display(ds)

      cnt          schedule           employment
0   35367       Полный день     Полная занятость
1    7802  Удаленная работа     Полная занятость
2    1593     Гибкий график     Полная занятость
3    1312  Удаленная работа  Частичная занятость
4     940    Сменный график     Полная занятость
5     569       Полный день           Стажировка
6     367    Вахтовый метод     Полная занятость
7     347       Полный день  Частичная занятость
8     312     Гибкий график  Частичная занятость
9     141       Полный день     Проектная работа
10    133  Удаленная работа     Проектная работа
11    116     Гибкий график           Стажировка
12    101    Сменный график  Частичная занятость
13     64  Удаленная работа           Стажировка
14     18     Гибкий график     Проектная работа
15     12    Сменный график           Стажировка
16      2    Вахтовый метод     Проектная работа
17      1    Сменный график     Проектная работа

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [45]:
query_4_5 = f'''
select 
    count(id) cnt,
    v.experience
from
    public.vacancies v
group by 
    v.experience
order by 
    cnt
'''
ds = pd.read_sql_query(query_4_5, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\3160611439.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query_4_5, connection)

In [46]:
display(ds)

     cnt          experience
0   1337         Более 6 лет
1   7197           Нет опыта
2  14511       От 3 до 6 лет
3  26152  От 1 года до 3 лет

***

Таблица представлена 769 городами. Только у примерно 25к кандитов есть ожидания по зарплате и ражнируется он в среднем от 71 до 110 тысяч рублей, что резонно, учитывая факт самой часто встречающегося типа занятости - полной занятости на полный день. А самые частый опыт работы - от года до 3.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [47]:
query = f'''
(select 
    count(v.id) cnt,
    e.name
from
    public.vacancies v
    join public.employers e on v.employer_id = e.id
group by 
    e.name
order by 
    cnt desc
limit 1)

union all

(select 
    count(v.id) cnt,
    e.name
from
    public.vacancies v
    join public.employers e on v.employer_id = e.id
group by 
    e.name
order by 
    cnt desc
offset 4 limit 1
)

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\2274762561.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [48]:
display(ds)

    cnt           name
0  1933         Яндекс
1   331  Газпром нефть

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [49]:
query = f'''


(select 
	a.name,
    count(v.id) vac,
    count(v.employer_id) empl
from 
	public.vacancies v
    join public.areas a on a.id = v.area_id
group by 
	a.name)
union all 
(select 
	a.name,
    count(v.id) vac,
    count(v.employer_id) empl
from 
	public.vacancies v
    left join public.areas a on a.id = v.area_id
group by 
	a.name, v.id, v.employer_id
having 
    v.id is null
order by 
    3 desc
limit 2
)

'''
query2 = '''
(select 
	a.name,
    count(v.id) vac,
    count(e.id) empl
from 
	public.areas a
    left join public.vacancies v on a.id = v.area_id
    left join public.employers e on a.id = e.area
where v.id is null
group by 
	a.name
order by 
    3 desc
    )

'''
ds = pd.read_sql_query(query2, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\215309282.py:48: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query2, connection)

In [50]:
display(ds)
#Не ставьте балл я подсмотрел решение. Однако считаю важным сказать, что я не смог решить потому, что не было сказано, что area из базы работадателей это ключ на базу регионов.

                               name  vac  empl
0                            Россия    0   410
1                         Казахстан    0   207
2                Московская область    0    75
3                Краснодарский край    0    19
4                          Беларусь    0    18
..                              ...  ...   ...
588                        Кувандык    0     0
589                        Куйбышев    0     0
590  Куйбышево (Ростовская область)    0     0
591                        Култаево    0     0
592                        Кульсары    0     0

[593 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [51]:
query = f'''


select 
    e.name,
    count(distinct v.area_id)
from
    public.vacancies v
    left join public.employers e on v.employer_id = e.id
group by 
    1
order by 
    2 desc
'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\2800870312.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [52]:
display(ds)

                         name  count
0                      Яндекс    181
1                  Ростелеком    152
2                  Спецремонт    116
3      Поляков Денис Иванович     88
4                   ООО ЕФИН      71
...                       ...    ...
14761                  UniSol      1
14762            UNISTORY LLC      1
14763                   UNIT6      1
14764     United Distribution      1
14765              UNITEL LLC      1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [53]:
query = f'''


select 
    count(distinct e.id)
from 
    public.employers e
    left join employers_industries ei on e.id = ei.employer_id
where ei.industry_id is null
'''
query2 = '''
select 
    *
from public.employers_industries

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\2232856348.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [54]:
display(ds)

   count
0   8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [55]:
query = f'''


select 
    e.name,
    count(distinct ei.industry_id) cnt
from 
    public.employers e
    left join employers_industries ei on e.id = ei.employer_id
group by 
    e.name
having
    count(distinct ei.industry_id) = 4
order by 1


'''
query2 = '''
select 
    *
from public.employers_industries

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\1907476339.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [56]:
display(ds)

                 name  cnt
0        101 Интернет    4
1            21vek.by    4
2                2ГИС    4
3                  2К    4
4         4 пикселя +    4
...               ...  ...
1127            ЮРИОН    4
1128  ЮТИП Технологии    4
1129           ЯКласс    4
1130            ЯрНео    4
1131    Яшин&Партнёры    4

[1132 rows x 2 columns]

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [57]:
query = f'''


select 
    count(*)
from 
    public.industries i
    left join employers_industries ei on i.id = ei.industry_id
where
    i.name = 'Разработка программного обеспечения'



'''
query2 = '''
select 
    *
from public.employers_industries

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\420220451.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [58]:
display(ds)

   count
0   3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [59]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import json
from pprint import pprint 
import requests 
from bs4 import BeautifulSoup

url = 'https://ru.wikipedia.org/wiki/Города-миллионеры_России'
response = requests.get(url=url)
response = response
soup = BeautifulSoup(response.content, 'html.parser')
#print(soup)
objects = soup.find_all('tbody')[1]
print(objects)
objects = objects.find_all('a')
lst = list()
for i in objects:
    if i.text.isalpha():
        print(i.text)
        lst.append(i.text)
print(lst)

<tbody><tr><th scope="col">№</th><th scope="col">Город</th><th data-sort-type="number" scope="col">Население, <br/> тыс. чел.<br/><small>  (на 1 января 2023 года)</small></th><th data-sort-type="number" scope="col">Население, <br/> тыс. чел.<br/><small> (итоги <a href="/wiki/%D0%92%D1%81%D0%B5%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BF%D0%B5%D1%80%D0%B5%D0%BF%D0%B8%D1%81%D1%8C_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_(2020%E2%80%942021)" title="Всероссийская перепись населения (2020—2021)">переписи<br/> 2021 года</a>)<sup class="reference" id="cite_ref-ofperep21_5-0"><a href="#cite_note-ofperep21-5">[5]</a></sup></small></th><th data-sort-type="number" scope="col">Прирост<br/> относительно<br/>  переписи-2010</th><th data-sort-type="number" scope="col">Население, <br/> тыс. чел.<br/><small>(итоги <a href="/wiki/%D0%92%D1%81%D0%B5%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%BF%D0%B5%D1%80%D0%B5%D0%BF%D0%B8%D1%81%D1%8C_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_(2010)" title="Всероссийская перепись населения (2010)">переписи<br/> 2010 года</a>)<sup class="reference" id="cite_ref-GKS_100_6-0"><a href="#cite_note-GKS_100-6">[6]</a></sup></small></th></tr><tr><td style="text-align:center">1</td><td><a href="/wiki/%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0" title="Москва">Москва</a></td><td data-sort-value="13098" style="text-align:right">13 098</td><td data-sort-value="13010" style="text-align:right">13 010</td><td data-sort-value="13.1" style="text-align:right">13,1 %</td><td data-sort-value="11504" style="text-align:right">11 504</td></tr><tr><td style="text-align:center">2</td><td><a href="/wiki/%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3" title="Санкт-Петербург">Санкт-Петербург</a></td><td data-sort-value="5598" style="text-align:right">5 598</td><td data-sort-value="5602" style="text-align:right">5 602</td><td data-sort-value="14.8" style="text-align:right">14,8 %</td><td data-sort-value="4880" style="text-align:right">4 880</td></tr><tr><td style="text-align:center">3</td><td><a href="/wiki/%D0%9D%D0%BE%D0%B2%D0%BE%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%81%D0%BA" title="Новосибирск">Новосибирск</a></td><td data-sort-value="1635" style="text-align:right">1 635</td><td data-sort-value="1634" style="text-align:right">1 634</td><td data-sort-value="10.9" style="text-align:right">10,9 %</td><td data-sort-value="1474" style="text-align:right">1 474</td></tr><tr><td style="text-align:center">4</td><td><a href="/wiki/%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3" title="Екатеринбург">Екатеринбург</a></td><td data-sort-value="1539" style="text-align:right">1 539</td><td data-sort-value="1544" style="text-align:right">1 544</td><td data-sort-value="14.4" style="text-align:right">14,4 %</td><td data-sort-value="1350" style="text-align:right">1 350</td></tr><tr><td style="text-align:center">5</td><td><a href="/wiki/%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%8C" title="Казань">Казань</a></td><td data-sort-value="1315" style="text-align:right">1 315</td><td data-sort-value="1309" style="text-align:right">1 309</td><td data-sort-value="14.4" style="text-align:right">14,4 %</td><td data-sort-value="1144" style="text-align:right">1 144</td></tr><tr><td style="text-align:center">6</td><td><a href="/wiki/%D0%9D%D0%B8%D0%B6%D0%BD%D0%B8%D0%B9_%D0%9D%D0%BE%D0%B2%D0%B3%D0%BE%D1%80%D0%BE%D0%B4" title="Нижний Новгород">Нижний Новгород</a></td><td data-sort-value="1213" style="text-align:right">1 213</td><td data-sort-value="1226" style="text-align:right">1 226</td><td data-sort-value="0.2" style="text-align:right"><span class="noprint" style="display: none;">0,2</span>−2,0 %</td><td data-sort-value="1251" style="text-align:right">1 251</td></tr><tr><td style="text-align:center">7</td><td><a href="/wiki/%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D1%8F%D1%80%D1%81%D0%BA" title="Красноярск">Красноярск</a></td><td data-sort-value="1197" style="text-align:right">1 197</td><td data-sort-value="1188" style="text-align:right">1 188</td><td data-sort-value="21.6" style="text-align:right">21,6 %</td><td data-sort-value="977" style="text-align:right">977</td></tr><tr><td style="text-align:center">8</td><td><a href="/wiki/%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA" title="Челябинск">Челябинск</a></td><td data-sort-value="1183" style="text-align:right">1 183</td><td data-sort-value="1190" style="text-align:right">1 190</td><td data-sort-value="5.3" style="text-align:right">5,3 %</td><td data-sort-value="1130" style="text-align:right">1 130</td></tr><tr><td style="text-align:center">9</td><td><a href="/wiki/%D0%A1%D0%B0%D0%BC%D0%B0%D1%80%D0%B0" title="Самара">Самара</a></td><td data-sort-value="1164" style="text-align:right">1 164</td><td data-sort-value="1173" style="text-align:right">1 173</td><td data-sort-value="0.3" style="text-align:right">0,3 %</td><td data-sort-value="1169" style="text-align:right">1 169</td></tr><tr><td style="text-align:center">10</td><td><a href="/wiki/%D0%A3%D1%84%D0%B0" title="Уфа">Уфа</a></td><td data-sort-value="1158" style="text-align:right">1 158</td><td data-sort-value="1145" style="text-align:right">1 145</td><td data-sort-value="7.8" style="text-align:right">7,8 %</td><td data-sort-value="1062" style="text-align:right">1 062</td></tr><tr><td style="text-align:center">11</td><td><a href="/wiki/%D0%A0%D0%BE%D1%81%D1%82%D0%BE%D0%B2-%D0%BD%D0%B0-%D0%94%D0%BE%D0%BD%D1%83" title="Ростов-на-Дону">Ростов-на-Дону</a></td><td data-sort-value="1136" style="text-align:right">1 136</td><td data-sort-value="1142" style="text-align:right">1 142</td><td data-sort-value="4.9" style="text-align:right">4,9 %</td><td data-sort-value="1089" style="text-align:right">1 089</td></tr><tr><td style="text-align:center">12</td><td><a href="/wiki/%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B4%D0%B0%D1%80" title="Краснодар">Краснодар</a></td><td data-sort-value="1121" style="text-align:right">1 121</td><td data-sort-value="1099" style="text-align:right">1 099</td><td data-sort-value="43.8" style="text-align:right">43,8 %</td><td data-sort-value="764" style="text-align:right">764</td></tr><tr><td style="text-align:center">13</td><td><a href="/wiki/%D0%9E%D0%BC%D1%81%D0%BA" title="Омск">Омск</a></td><td data-sort-value="1111" style="text-align:right">1 111</td><td data-sort-value="1126" style="text-align:right">1 126</td><td data-sort-value="0.1" style="text-align:right"><span class="noprint" style="display: none;">0,1</span>−3,4 %</td><td data-sort-value="1166" style="text-align:right">1 166</td></tr><tr><td style="text-align:center">14</td><td><a href="/wiki/%D0%92%D0%BE%D1%80%D0%BE%D0%BD%D0%B5%D0%B6" title="Воронеж">Воронеж</a></td><td data-sort-value="1052" style="text-align:right">1 052</td><td data-sort-value="1058" style="text-align:right">1 058</td><td data-sort-value="18.9" style="text-align:right">18,9 %</td><td data-sort-value="890" style="text-align:right">890</td></tr><tr><td style="text-align:center">15</td><td><a href="/wiki/%D0%9F%D0%B5%D1%80%D0%BC%D1%8C" title="Пермь">Пермь</a></td><td data-sort-value="1027" style="text-align:right">1 027</td><td data-sort-value="1034" style="text-align:right">1 034</td><td data-sort-value="4.3" style="text-align:right">4,3 %</td><td data-sort-value="991" style="text-align:right">991</td></tr><tr><td style="text-align:center">16</td><td><a href="/wiki/%D0%92%D0%BE%D0%BB%D0%B3%D0%BE%D0%B3%D1%80%D0%B0%D0%B4" title="Волгоград">Волгоград</a></td><td data-sort-value="1026" style="text-align:right">1 026</td><td data-sort-value="1028" style="text-align:right">1 028</td><td data-sort-value="0.7" style="text-align:right">0,7 %</td><td data-sort-value="1021" style="text-align:right">1 021</td></tr></tbody>
Москва
Новосибирск
Екатеринбург
Казань
Красноярск
Челябинск
Самара
Уфа
Краснодар
Омск
Воронеж
Пермь
Волгоград
['Москва', 'Новосибирск', 'Екатеринбург', 'Казань', 'Красноярск', 'Челябинск', 'Самара', 'Уфа', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград']

In [62]:
query = f'''


select 
    a.name,
    count(v.id)
from 
    public.vacancies v
    join public.areas a on a.id = v.area_id
    join public.employers e on v.employer_id = e.id
where 
    e.name like 'Яндекс' and a.name in {tuple(lst)}
group by 
    a.name 

union all

select 
    'total',
    count(v.id)
from 
    public.vacancies v
    join public.areas a on a.id = v.area_id
    join public.employers e on v.employer_id = e.id
where 
    e.name like 'Яндекс' and a.name in ('Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Нижний Новгород', 'Красноярск', 'Челябинск', 'Самара', 'Уфа', 'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград')


    


'''
query2 = '''
select 
    *
from public.employers_industries

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_14532\3527975546.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [63]:
display(ds)

            name  count
0      Волгоград     24
1        Воронеж     32
2   Екатеринбург     39
3         Казань     25
4      Краснодар     30
5     Красноярск     23
6         Москва     54
7    Новосибирск     35
8           Омск     21
9          Пермь     25
10        Самара     26
11           Уфа     26
12     Челябинск     22
13         total    485

***

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query = f'''

select 
    count(name)
from 
    public.vacancies
where 
    lower(name) like '%data%' or lower(name) like '%данн%'



'''
query2 = '''
select 
    *
from public.employers_industries

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_5168\1208558208.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [ ]:
display(ds)

   count
0   1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
('data scientist',
'data science',
'исследователь данных',
'ML',
'machine learning',
'машинн%обучен%',)

query = f'''

select 
    name
from 
    public.vacancies
where 
    (lower(name) like
    '%data scientist%' or lower(name) like
    '%data science%' or lower(name) like
    '%исследователь данных%' or (name like
    '%ML%' and name not like '%HTML%') or lower(name) like
    '%machine%learning%' or 
    lower(name) like '%машинн%обучен%') and
    (lower(name) like '%junior%' or
    experience like 'Нет опыта' or
    employment like 'Стажировка'
    )
    



'''
query2 = '''
select 
    employment
from public.vacancies

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_5168\1479393188.py:37: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    51 non-null     object
dtypes: object(1)
memory usage: 540.0+ bytes

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
query = f'''

select 
    key_skills
from 
    public.vacancies
where 
    (lower(name) like
    '%data scientist%' or lower(name) like
    '%data science%' or lower(name) like
    '%исследователь данных%' or (name like
    '%ML%' and name not like '%HTML%') or lower(name) like
    '%machine%learning%' or 
    lower(name) like '%машинн%обучен%') and 
    (key_skills like '%SQL%' or
    lower(key_skills) like '%postgres%') 

'''
query2 = '''
select 
    employment
from public.vacancies

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_5168\2076438937.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [ ]:
display(ds.value_counts(), ds.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   key_skills  201 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

key_skills
Оценка рисков\tMS PowerPoint\tСтатистический анализ\tУправление рисками\tМатематическое моделирование\tPD, LGD, EAD\tSQL\tПортфельные риски\tкредитные риски    13
Python\tSQL\tData Mining\tАналитические исследования\tNLP                                                                                                        6
Python\tSQL\tNLP\tScikit-learn\tMachine Learning                                                                                                                 4
Python\tSQL\tАнализ данных\tСтатистический анализ\tМатематическая статистика                                                                                     3
Python\tSQL\tORACLE\tOracle Pl/SQL                                                                                                                               3
                                                                                                                                                                ..
Python\tSQL\tHadoop\tSpark\tBig Data\tМашинное обучение\tМатематическая статистика                                                                               1
Python\tSQL\tJava\tМатематический анализ\tМатематическая статистика\tR\tJupiter\tMATLAB\tmathematica                                                             1
Python\tSQL\tJava\tМатематический анализ\tМатематическая статистика\tR\tMathematica\tJupiter\tMATLAB                                                             1
Python\tSQL\tLinux\tDocker\tML\tPyTorch\tData Science\tMachine Learning                                                                                          1
Python\tSQL\tPandas\tA/B тесты\tNumpy                                                                                                                            1
Name: count, Length: 162, dtype: int64

None

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
query = f'''

select 
    count(*)
from 
    public.vacancies
where 
    (lower(name) like
    '%data scientist%' or lower(name) like
    '%data science%' or lower(name) like
    '%исследователь данных%' or (name like
    '%ML%' and name not like '%HTML%') or lower(name) like
    '%machine%learning%' or 
    lower(name) like '%машинн%обучен%') and 
    (lower(key_skills) like '%python%') 

'''
query2 = '''
select 
    employment
from public.vacancies

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_5168\609776469.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [ ]:
display(ds)

   count
0    351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
query = f'''

select 
    name,
    (1+length(key_skills) - length(replace(key_skills, CHR(9), ''))) cnt,
    key_skills
from 
    public.vacancies 
where 
    (lower(name) like
    '%data%scientist%' or lower(name) like
    '%data%science%' or lower(name) like
    '%исследователь данных%' or (name like
    '%ML%' and name not like '%HTML%') or lower(name) like
    '%machine%learning%' or 
    lower(name) like '%машинн%обучен%') 
'''
query2 = '''
select 
    employment
from public.vacancies

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_5168\3650174467.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [ ]:
#ds.loc[ds['cnt'] == 0] = 1
display(ds.describe())

              cnt
count  432.000000
mean     6.414352
std      3.024583
min      1.000000
25%      5.000000
50%      5.000000
75%      8.000000
max     20.000000

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
query = f'''

select 
    experience,
    round(avg(coalesce(((salary_from + salary_to)/2), salary_from, salary_to)))
from 
    public.vacancies 
where 
    (lower(name) like
    '%data scientist%' or lower(name) like
    '%data science%' or lower(name) like
    '%исследователь данных%' or (name like
    '%ML%' and name not like '%HTML%') or lower(name) like
    '%machine%learning%' or 
    lower(name) like '%машинн%обучен%') and
    (salary_from is not null or
    salary_to is not null)
group by
    experience
    
    
    '''
query2 = '''
select 
    employment
from public.vacancies

'''
ds = pd.read_sql_query(query, connection)

C:\Users\atade\AppData\Local\Temp\ipykernel_5168\2597150263.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ds = pd.read_sql_query(query, connection)

In [ ]:
display(ds.value_counts())

experience          round
Нет опыта           74643.0     1
От 1 года до 3 лет  139675.0    1
От 3 до 6 лет       243115.0    1
Name: count, dtype: int64

***

In [ ]:
# выводы по предметному анализу

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования